header {
    background-color: $color_principal;
    text-align: center;
    padding: 5px;
    #LOGO-HEADER { 
        height: 150px;
        transition: all .3s ease;
        &:hover {
            transform: rotate(360deg);
            transition: all 1s ease;
        }
    }
    nav {
        ul {
            li {
                a {
                    text-decoration: none;
                    padding: 10px;
                    font-family: $fuente_titulos;
                    font-size: 25px;
                    color: $texto_claro;
                    text-transform: uppercase;
                }
                &:hover {
                    border-bottom: 3px solid $color_secundario;
                }
            }
        }
    }
}