// COLORES
$color_principal: #e5a43c;
$color_secundario: #172333;
$texto_claro: #EEEEEE;
$texto_oscuro: #222222;

// FUENTES
$fuente_titulos: 'Josefin Sans', sans-serif;
$fuente_texto: 'Playfair Display', serif;